@charset "utf-8";

@import url(./reset2.css);
@import url(./core2.css);

:root {
    /* 색상변수 : --이름-color */
    --main-gray-color: #222;
    --character-area-color: #fefefe;
    --company-area-color: #f4f4f4;
    --contact-area-color: #4a679d;
    /* 사이즈변수 : --이름-size */
    --top-area-padding-size: 2rem 5rem;
    --bottom-area-padding-size: 5rem;
    --contents-box-padding-size: 8.5rem 0 0;
    --cat-title-padding-size: 1.5rem 1rem;
}

html {
    font-size: 10px;
}

html, body {
    overflow-x: hidden;
}

body {
    padding-top: 10rem;
}

#top-area{
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
}

.top-area{
    padding: var(--top-area-padding-size);
}

.top-area > ul{
    display: flex;
    justify-content: space-between;
}

h1.logo img{
    height: min(4rem, 4vw);
}

.gnb{
    height: 100%;
}

.gnb > ul{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.gnb-mob{
    position: absolute;
    top: 2rem;
    right: 5rem;
    width: 34px;
    height: 34px;
    display: none;
}


.gnb-mob span{
    display: block;
    width: 100%;
    height: 4px;
    background-color: #000;
    transition: .3s ease-out;
}

.gnb-mob span+span{
    margin-top: 11px;
}

.gnb-mob.on span:nth-child(1){
    translate: 0 15px;
    rotate: 45deg;
}
.gnb-mob.on span:nth-child(2){
    translate: 17px 0;
    width: 0;
}
.gnb-mob.on span:nth-child(3){
    translate: 0 -15px;
    rotate: -45deg;
}

#main-area > div{
    padding: var(--contents-box-padding-size);
}

.banner{
    position: relative;
    background: url(../images2/main_visual_bg.jpg) 0/50px;
    text-align: center;
    padding: 10rem;
}

.banner img{
    height: 60vmin;
    transition: .7s ease-in-out;
}

.banner img:last-child{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -250%;
    opacity: 0;
}