@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic&display=swap');

html {
    font-family: "Montserrat","Nanum Gothic", serif;
    font-size: 16px;
}

.inbox{
    max-width: 1200px;
    margin: 0 auto;
}

.stit{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 3rem;
    color: #222;
    text-transform: uppercase;
    font-weight: 500;
}